
:root{
 --white-color: #f5f5f5;
 --first-color: #1a3550;
 --second-color:#675F8E;
 --third-color:#B7A0B3;
 --box-color: #e9e9e5;
 --box-color-dark: #dbdbd4;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: var(--first-color);       
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header a{
    font-weight: 600;
    color: var(--first-color);
    text-decoration: none;
}
.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-site{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    margin-left: 0px;
    border: solid 0px var(--first-color);
    border-radius: 100%;
    object-fit: contain;
    overflow: hidden;
}
.logo-site img{
    object-fit: contain;
    overflow: hidden;
}
.title{
    font-family: "Josefin Sans", sans-serif;
    color: var(--first-color);
    font-size: 20px;
    margin-left: 0px;
}
.menu{
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin-right: 100px;
}
.main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wallpaper p{
    padding: 30px;
}
.wallpaper{
    background: linear-gradient(to right, var(--first-color), var(--second-color), var(--third-color));
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    overflow: hidden;
    width: 100%;  
    height: 565px;         
}
.slogan{
    margin-bottom: 5px;
    padding: 2px;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.leagues{
    margin-top: 20px;
    width: 70%;
    height: auto;
    background-color: var(--box-color);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.leagues-title{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: solid 1px var(--third-color);
}
.leagues-title img{
    height: 30px;
    width: 30px;
}
.league{
    padding-top: 10px;
    height: 80px;
    width: 80px;
    background: var(--box-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.league:hover{
    box-shadow: 0px 0px 1px 1px var(--third-color);
}
.league img{
    object-fit: contain;
    overflow: hidden;
    height: 80px;
    width: 80px;
    padding-bottom: 10px;
}
.about{
    margin-top: 100px;
    width: 70%;
    height: auto;
    background-color: var(--box-color);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}
.about-title{
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 5px;
}
.about-title img{
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
@media (max-width: 1500px) {
    .slogan{
        text-align: center;
        width: 300px;
        font-size: 24px;
    }
    .wallpaper p{
        padding-bottom: 0px;
    }
    .wallpaper img{
        width: 500px;
        height: 50%;
    }
    .wallpaper{
        height: 50%;
    }
    .leagues{
        width: 90%;
        gap: 20px;
    }
    .league{
        padding: 0px;
        height: 100px;
    }
    .about{
        width: 90%;
    }
}
@media (max-width: 900px) {
    .slogan{
        text-align: center;
        font-size: 15px;
        width: 300px;
    }
    .wallpaper p{
        padding-bottom: 0px;
    }
    .wallpaper img{
        width: 500px;
        height: 50%;
    }
    .wallpaper{
        height: 50%;
    }

}
@media (max-width: 500px) {
    .title{
        font-size: 12px;
    }
    .menu{
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-right: 20px;
    }
    .wallpaper{
        flex-direction: column;
        height: 50%;
    }
    .wallpaper p{
        padding-bottom: 0px;
    }
    .wallpaper img{
        width: 300px;
        height: 50%;
    }
    .logo-site{
        margin: 0px;
        padding: 0px;
        border-radius: 0%;
        height: 70px;
        width: 70px;
    }
    .logo-title{
        margin: 0px;
        padding: 0px;
    }
    .title{
        margin: 0px;
        padding: 0px;
    }
    .leagues{
        width: 80%;
    }
    .about{
        width: 80%;
    }
    .about-title{
        font-size: 20px;
    }
    .about-title img{
        height: 50px;
        width: 50px;
    }
    .leagues-title{
        font-size: 20px;
    }
    
}