:root{
    --white-color: #f5f5f5;
    --first-color: #1a3550;
    --second-color:#675F8E;
    --third-color:#B7A0B3;
    --first-color-dark: #15324e;
    --grey-color: rgb(184, 177, 177);
    --blue-color: #7A84F1;
    --yellow-color:#DEB244;
    --green-color: #44B952;
    --red-color: #C53B3B;
    --shadow-color:rgb(26, 26, 77);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background: linear-gradient(to right, var(--second-color), var(--third-color));
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white-color);
}
header{
    background-color: var(--white-color);
    color: var(--first-color);       
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header a{
    font-weight: 600;
    color: var(--first-color);
    text-decoration: none;
}
.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-site{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: var(--third-color);
    margin-left: 20px;
    border: solid 0px var(--third-color);
    border-radius: 100%;
    object-fit: contain;
    overflow: hidden;
}
.logo-site img{
    object-fit: contain;
    overflow: hidden;
}
.title{
    color: var(--first-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.menu{
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-header{
    padding: 5px;
    margin-top: 50px;
    background-color: var(--first-color);
    width: 80%;
    border-radius: 20px;
    display: flex;

}
.team-header img{
    height: 120px;
    width: 120px;
}
.team-header-info{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.team-header-country{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.team-header-country img{
    margin: 7px;
    height: 30px;
    width: 30px;
}
.team-descr{
    margin-top: 20px;
    margin-left: 80px;
    width: 45%;
}
.team-info{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 30px;
}
a{
    font-style: normal;
    text-decoration-line: none;
    color: var(--white-color);
}
.center-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}
.squad-list{
    padding: 30px;
    margin-top: 50px;
    background-color: var(--first-color);
    width: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px var(--shadow-color);
}
.role{
    border-top: solid 2px var(--third-color);
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding-top: 3px;
}
.role p{
    margin-top: 10px;   
    font-weight: 600;
}
#ch{
    color: var(--grey-color);
}
#gk{
    color: var(--yellow-color);
}
#def{
    color: var(--blue-color);
}
#mid{
    color: var(--green-color);
}
#for{
    color: var(--red-color);
}
.squad-member{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 98%;
    /*border-bottom: solid 2px var(--third-color);*/
    border-radius: 10px;
    flex-wrap: wrap;
}
.squad-member img{
    height: 50px;
    width: 50px;
    border: solid 3px var(--third-color);
    border-radius: 100%;
    object-fit: cover;
}
.squad-member:hover{
    background-color: var(--first-color-dark);
}
.squad-member-left{
    display: flex;
    flex-direction: row;
}
.squad-member-left-info{
    margin-left: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.squad-member-left-info #name{
    font-size: 18px;
    font-weight: 700;
}
.squad-member-left-info #role{
    font-size: 18px;
    margin-top: 5px;
}
.info{
    font-weight: 500;
    margin-top: 10px;
    font-size: 15px;
    color: var(--grey-color);
    display: flex;
    align-content: center;
    gap: 10px;
}
#nation{
    display: flex;
    gap: 2px;
}
.info img{
    border: solid 0px var(--third-color);
    height:15px;
    width: 15px;
}
.squad-member-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.squad-member-right #jersey-number{
    font-size: 25px;
    font-weight: 700;
    margin-right: 20px;
}
.squad-member-right img{
    height: 50px;
    width: 50px;
}

@media (max-width: 1100px){
    .team-header{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        text-align: justify;
    }
    .team-header-info{
        align-items: center;
    }
    .team-descr{
        width: 90%;
        margin-top: 0px;
        margin-left: 0px;
    }
    .team-info{
        text-align: center;
        margin-top: 20px;
        margin-left: 0px;
    }
    .squad-list{
        width: 80%;
    }
    .squad-member-right img{
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
    .squad-member-left img{
        width: 50px;
        height: 50px;
    }
    .info{
        font-size: 15px;
        padding-left: 8px;
    }
    .info img{
        width: 20px;
        height: 20px;
    }
    .squad-member-left-info #name{
        font-size: 15px;
        text-wrap: wrap;
        margin-left: 8px;
    }
    .squad-member-left-info #role{
        font-size: 15px;
        margin-left: 10px;
    }
    .squad-member-left-info{
        margin-left: 5px;
    }
    .squad-member-right{
        padding: 0px;
    }
    .squad-member-right img{
        width: 25px;
        height: 25px;
    }
    .squad-member-right #jersey-number{
        font-size: 15px;
        margin-right: 10px;
    }
}
@media (max-width: 400px){
    .squad-list{
        padding: 10px;
        width: 80%;
    }
    .squad-member-left{
        font-size: 12px;
        padding: 0px;
    }
    .info{
        font-size: 11px;
    }
    .info img{
        height: 11px;
        width: 11px;
    }
    .squad-member-left-info #role{
        font-size: 12px;
    }
    #nation img{
        width:15px;
        height: 15px;
    }
    .squad-member-left img{
        width: 35px;
        height: 35px;
    }
}
@media(max-width: 500px){
    .menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-right: 20px;
    }
}